@import './Common.scss';

.AutoComplete {
	position: relative;
	.items {
		position: absolute;
		background: $white;
		top: 0;
		left: 0;
		padding: 1rem;
		border-radius: 5px;
		width: 25rem;
		font-size: $fs-s;
		.item {
			margin-bottom: 0.5rem;
		}
	}
}
