//Color
$black: #393939;
$white: whitesmoke;

//Font-Size
$fs-s: 14px;
$fs-m: 16px;
$fs-l: 20px;

//border
$b-gray: 1px solid #e0e0e0;

* {
	padding: 0;
	margin: 0;
	color: $black;
	text-decoration: none !important;
	box-sizing: border-box;
}

ul,
li {
	list-style: none;
}

@mixin btn-style {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0.5rem;
	border: 1px solid $black;
	border-radius: 5px;
	transition: all 0.4s;
	cursor: pointer;
	color: $black;
	background: $white;
	&:hover {
		background: $black;
		color: $white;
	}
}
