@import './Common.scss';

header {
	position: fixed;
	left: 0;
	top: 0;
	border-bottom: $white;
	display: flex;
	height: 100px;
	background: $white;
	width: 100%;
	.GoogleLoginComponent {
		width: 100%;
		display: inline-flex;
		align-items: center;
		justify-content: flex-end;
		padding: 0.5rem;
		box-sizing: border-box;
		.user-name {
			margin-right: 1rem;
		}
	}
}
