@import './Common.scss';

.LogoImg {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 0.5rem;
	.img {
		width: 5rem;
		display: inline-block;
		margin-right: 0.5rem;
	}
	.title {
		color: $black;
		display: inline-block;
		font-size: 3rem;
	}
}
