@import './Common.scss';

.SearchPage {
	.container {
		.nav {
			padding: 1rem;
			width: 15%;
			height: 10000px;
			border-right: $b-gray;
			position: fixed;
			box-sizing: border-box;
			.nav-title {
				margin-bottom: 1rem;
				display: inline-block;
			}
			.nav-list {
				li {
					margin-bottom: 0.5rem;
					cursor: pointer;
				}
			}
		}
		.sec {
			padding: 1rem;
			width: 85%;
			margin-left: 15%;
			.sec-search {
				display: flex;
				align-items: center;
				justify-content: center;
				.SearchInput {
					display: inline-block;
				}
			}
			.sec-contents {
				.graph-date {
					display: inline-block;
					width: 90%;
					margin: auto;
					text-align: end;
					font-size: 0.8rem;
				}
				.graph-currency {
					font-size: 0.8rem;
					display: inline-block;
					width: 90%;
					margin: auto;
				}
			}
		}
	}
}
